
# OPENAI_API_KEY=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
# GOOGLE_MAPS_API_KEY=AIzaSyDG14sihEbdlSVR2ruIJV599JXS5vP9r4g